#preface{
	width: 75%;
}
#welcome{
	margin-top: 5rem;
}

#start_ctr{
	width:19rem;
	display: block;
	margin:auto;
	margin-top: 6rem;
	margin-bottom: 6rem;
	background-color: #373837;
	border-radius: 9rem;
}	

#start{
	color: #b4ff4a;
	padding:1rem;
	display: flex;
	justify-content: center;
	/* in order: x offset, y offset, blur size, spread size, color */
	/* blur size and spread size are optional (they default to 0) */
	border-radius: 9rem;
	box-shadow: 0rem 0rem 1rem 0.1rem #b4ff4a;
}

#start:hover{
	color: white;
	border-radius: 9rem;
	box-shadow: 0rem 0rem 2rem 1rem #b4ff4a95,0rem 0rem 0.5rem 0.75rem white;
}
