header{
	display: flex;
	float: left;
	line-height: 3rem;
	font-family:OCR A Std, monospace;
	margin-right: 3rem;
	padding-top: 3rem;
	width:7rem;
	height: 70rem;
	position: fixed;
}

header li {
	display: inline-block;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 1.8rem;
	border-left: 2px solid #373837;
	border-radius: 3px;
	padding-bottom: 2rem;
	padding-top: 2rem;
	margin-bottom: 0.35rem;
	padding-left: 0.5rem;
	width: 150%;

}

header li.active {
	border-left: 3px solid #61892F;
	border-radius: 3px;
	padding-bottom: 2rem;
	padding-top: 2rem;
	padding-left: 1rem;
}
header li:hover {
	padding-bottom: 2rem;
	padding-top: 2rem;
	padding-left: 1rem;
	box-shadow: -6px 0 4px -4px #b4ff4a;
}

body {
	color:#6f786f;
	background-color:#222629;
	font-family:OCR A Std, monospace;

	display: flex;
	flex-direction: column;
}

h1{
	color:#FFFCF2;
	font-size: 30px;
	margin-top: 12px;
}

h2{
	margin-top: 10px;
	color:#FFFCF2;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
}

h3{
	color:#f7f5ed;
	font-size: 18px;
	margin-bottom: 5px;
}

nav{
	color:#FFFCF2;
	font-size: 20px;
	margin-top: 12px;
	margin-left: 12px;
}


a:link {
	color: #FFFCF2;
	text-decoration: none;

}
a:visited{
	color: #FFFCF2;
	text-decoration: none;
}
a:hover{
	color:white;
	text-decoration: none;
}
.menu_list{
	padding-left: 0.5rem;
}

.footercontents{
	line-height: 1rem;
	display:inline;
	position:relative;
	justify-content: center;
}

footer {
	color:white;
	line-height: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color:#61892F;
	width: 85%;
	margin-left:;
	border-radius: 1rem;
	align-items: center;

	position:relative;
	bottom:0px;
	height: 2rem;
	padding: 0.5rem;
}


.footer_ctr{
	display: flex;
	justify-content: center;
}

html, body {
	height: 100%;
}

.content {
	flex: 1 0 auto;
}

.hide {
	display: none;
	margin-left: 1rem;
	color: #373837;
}

.myDIV:hover + .hide {
	display: block
}

button{
	background-color: #373837;
	color: #b4ff4a;
	font-size: 1.2rem;
}